---
---
<section id="about" class="about-section">
  <header class="projects-header">
    <h2 class="projects-title">About Me</h2>
  </header>

  <div class="about-container">
    <div class="about-text">
      <p class="lead"><strong>Mahesh Shantaram</strong> <br><i>Documentary Photographer. <br>Visual Artist. <br>Data Scientist. <br>Bangalore, India.</i></p>
      <p>I'm Mahesh Shantaram, independent photographer based in Bangalore, India. I use personal and subjective documentary photo series to study complex systems, societies, and institutions, particularly with reference to contemporary India.</p>
      <p>Everything that's great about India and everything that's wrong with it can be summarised by a single wedding. <a href="/photography/matrimania">Matrimania</a>, six years in the making, is a fictional photo series about society seen through the prism of India's wedding culture. Matrimania was seen at photo festivals around the world, such as Photoquai 2011, PhotoPhnomPenh 2012, Delhi Photo Festival 2013, Addis Photo Festival 2014, Chobi Mela 2015, and Angkor Photo Festival 2015.</p>
      <p>I'm often seen rubbing shoulders with politicians. This is necessitated by the project <a href="/photography/lastdays">Last Days of Manmohan</a> that was born during the tumultuous days leading into India's hotly contested general elections of 2014. (Mis)using the tools of news photojournalism to document political culture in India, I offer a window into the theatre of Indian-style politics and its state actors.</p>
      <p>My latest obsession in 2016 concerns <a href="/photography/africans">racism in India</a>. I look at this difficult subject through anecdotes and stories of black Africans living in India. This is the realisation of a long-held dream to work on a pure portrait project.</p>
      <p>Circumstances once forced me to <a href="http://thecontrarian.in/blog/2007/bangalore_loves_volvo.php" target="_blank" rel="noopener noreferrer">steer a Volvo bus to safety</a>. I've also flown a plane after downing six pints of Guinness the previous night (this is not recommended). My personal goal for <strike>2010</strike> <strike>2011</strike> <strike>2012</strike> <strike>2014</strike> the near future is to learn to drive a car.</p>
      <p>After a degree in Computer Electronics, I went on to offset the error with a diploma in photography from Paris. I moved back to Bangalore in 2006 and have been an independent photographer ever since.</p>
      
      <div class="about-links">
          <a href="/about/cv_MaheshShantaram.pdf" class="btn-text" target="_blank">View Resume →</a>
      </div>
    </div>

    <div class="about-scroll-wrapper">
      <div class="about-images">
        <figure class="about-card">
          <img src="/assets/ms1.jpg" alt="Portrait by my 3 year-old niece" />
          <figcaption>Portrait by my 3 year-old niece when I was teaching her how to make a portrait. San Jose, 2013.</figcaption>
        </figure>
        <figure class="about-card">
          <img src="/assets/ms2.jpg" alt="Photoquai, Paris, 2011" />
          <figcaption>My profound explanation causes the Culture Minister to instantly spin into a deep meditative state whereupon he ponders the meaning of life; Photoquai, Paris, 2011.</figcaption>
        </figure>
        <figure class="about-card">
          <img src="/assets/ms3.jpg" alt="First days. Navi Mumbai, 2000" />
          <figcaption>First days. Navi Mumbai, 2000.</figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>
