---
import HeroStatement from "./Statement.astro";
import Carousel from "../carousel/Carousel.tsx";
import { CAROUSEL_IMAGES } from "../../data/carousel";
import "../../styles/home.css";

const images = CAROUSEL_IMAGES.map((img) => ({
  src: img.src,
  caption: img.caption,
}));
---

<section class="home-hero">
  <!-- Fixed carousel layer -->
  <div class="hero-fixed">
    <Carousel images={images} client:load />
  </div>

  <!-- Curtain -->
  <HeroStatement />
</section>
